---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to CAIR Collective!</h1>
			<p>
				CAIR stands for <b>C</b>linical <b>A</b>rtificial <b>I</b>ntelligence <b>R</b>esearch.
			</p>
			<p>
				We aim to bridge the intersection between AI/ML and Healthcare/Medical Research through a project-based approach.
				Projects will range from patient-use applications to deep learning models used in advanced medical research.

			</p>
			<p>Our Projects Based Approach:</p>
			<ul>
				<li>Students work in teams on different projects each quarter, with some projects lasting for multiple quarters</li>
				<li>Between the end of a project and the start of a new one, students indicate what type/level of project they want to work on</li>
				<li>Each project will have a lead, who communicates with their project director. Project Directors will oversee and support the project teams.</li>
				<li>Students will present their project at the end of the quarter to the rest of the club</li>
			</ul>
			<p>
				<b>Meetings:</b> 7:00 PM - 7:50 PM on Mondays @ Ackerman Union Meeting Room - Viewpoint Conference Rooms (A201)
			</p>
		</main>
		<Footer />
	</body>
</html>
