---
const today = new Date();
import { Icon } from 'astro-icon/components';
---

<footer>
	&copy; {today.getFullYear()} CAIR Collective. All rights reserved.
	<div class="social-links">
		<a href="https://www.instagram.com/caircollective_ucla" target="_blank">
                <span class="sr-only">Follow CAIR Collective on Instagram</span>
                <Icon name="mdi:instagram" size={40} />
            </a>
			<a href="https://www.linkedin.com/company/cair-collective-ucla" target="_blank">
                <span class="sr-only">Follow CAIR Collective on LinkedIn</span>
                <Icon name="mdi:linkedin" size={40} />
            </a>
			<a href="https://github.com/CAIR-Collective" target="_blank">
                <span class="sr-only">Follow CAIR Collective on GitHub</span>
                <Icon name="mdi:github" size={40} />
            </a>
			<a href="mailto:caircollectiveucla@gmail.com" target="_blank">
                <span class="sr-only">Email CAIR Collective</span>
                <Icon name="mdi:email" size={40} />
            </a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
